<!DOCTYPE html>
<html>
<head>
  <title>Italian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="row nav_bar">
		<div class="col-md-2 header_links"><%= link_to 'Home', home_path, :class => "link_words" %></div>
		<div class="col-md-2 header_links"><%= link_to 'Dining In', home_path, :class => "link_words" %></div>
		<div class="col-md-2 header_links"><%= link_to 'About Us', home_path, :class => "link_words"  %></div>
		<div class="col-md-2 header_links"><%= link_to 'Events', home_path, :class => "link_words" %></div>
		<div class="col-md-2 header_links"><%= link_to 'Reviews', home_path, :class => "link_words" %></div>
		<div class="col-md-2 header_links"><%= link_to 'Contact Us', home_path, :class => "link_words" %></div>
</div>

<div class = 'container'>

<%= yield %>

</div>

</body>
</html>
